/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make html and body take full height */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}